body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #map {
    height: 90vh;
    width: 100%;
  }
  
  .ibis {
    background-color: #000;
    color: #0f0;
    padding: 10px;
    text-align: center;
  }
  
  .ibis input, .ibis button {
    padding: 8px;
    font-size: 1rem;
    margin: 5px;
  }
  
  .ibis-next {
    background: black;
    color: lime;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  #navigateBtn {
    background-color: #2196F3;
  }
  
  #navigateBtn:hover {
    background-color: #0b7dda;
  }
  
  #navigateBtn:active {
    background-color: #0865a1;
  }